service:
  name: service-name
  port: 8000
  healthPath: /health
  metricsPath: /metrics

image:
  repository: ghcr.io/golubchikovkirill/service-name
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

ingress:
  enabled: false
  className: nginx
  host: service.example.local
  path: /

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  cpuUtilizationPercentage: 75

pdb:
  enabled: true
  minAvailable: 1

env: []
